# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.ACCSetupManager.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\_src\ACCSetupmanager\ACCSetupManager\.idea\.idea.ACCSetupManager\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
